Repository exercism/cairo, pull requests merged in 2024-11, with the labels that each got.

#301 Extract Option concept
  concepts/enums/about.md
  concepts/enums/links.json
  concepts/option/.meta/config.json
  concepts/option/about.md
  concepts/option/introduction.md
  concepts/option/links.json
  concepts/options/.meta/config.json
  concepts/options/about.md
  concepts/options/introduction.md
  concepts/options/links.json
  config.json
Labels: x:module/concept, x:type/content, x:rep/large

#303 Add Zipper
  config.json
  exercises/practice/zipper/.docs/instructions.md
  exercises/practice/zipper/.meta/config.json
  exercises/practice/zipper/.meta/example.cairo
  exercises/practice/zipper/.meta/tests.toml
  exercises/practice/zipper/Scarb.toml
  exercises/practice/zipper/src/lib.cairo
  exercises/practice/zipper/tests/zipper.cairo
Labels: x:module/practice-exercise, x:type/content, x:rep/large, x:action/create, x:type/coding

#299 Binary search tree
  config.json
  exercises/practice/binary-search-tree/.docs/instructions.append.md
  exercises/practice/binary-search-tree/.docs/instructions.md
  exercises/practice/binary-search-tree/.meta/config.json
  exercises/practice/binary-search-tree/.meta/example.cairo
  exercises/practice/binary-search-tree/.meta/tests.toml
  exercises/practice/binary-search-tree/Scarb.toml
  exercises/practice/binary-search-tree/src/lib.cairo
  exercises/practice/binary-search-tree/tests/binary_search_tree.cairo
Labels: x:module/practice-exercise, x:type/content, x:rep/large, x:action/create, x:type/coding

#306 feat: add `grep` to foregone exercises
  config.json
Labels: x:rep/small

#308 Add `scarb build` step to check lib.cairo during verify-exercise
  bin/verify-exercises
Labels: x:rep/small, x:type/ci

#309 isbn verifier
  config.json
  exercises/practice/isbn-verifier/.docs/instructions.md
  exercises/practice/isbn-verifier/.meta/config.json
  exercises/practice/isbn-verifier/.meta/example.cairo
  exercises/practice/isbn-verifier/.meta/tests.toml
  exercises/practice/isbn-verifier/Scarb.toml
  exercises/practice/isbn-verifier/src/lib.cairo
  exercises/practice/isbn-verifier/tests/isbn_verifier.cairo
Labels: x:module/practice-exercise, x:type/content, x:rep/large, x:type/coding
