Repository exercism/cairo, pull requests merged in 2024-12, with the labels that each got.

#311 variable length quantity
  config.json
  exercises/practice/variable-length-quantity/.docs/instructions.md
  exercises/practice/variable-length-quantity/.meta/config.json
  exercises/practice/variable-length-quantity/.meta/example.cairo
  exercises/practice/variable-length-quantity/.meta/tests.toml
  exercises/practice/variable-length-quantity/Scarb.toml
  exercises/practice/variable-length-quantity/src/lib.cairo
  exercises/practice/variable-length-quantity/tests/variable_length_quantity.cairo
Labels: x:module/practice-exercise, x:type/content, x:rep/large, x:action/create, x:type/coding

#307 add Calculator conundrum concept exercise
  concepts/error-handling/about.md
  concepts/error-handling/links.json
  config.json
  exercises/concept/calculator-conundrum/.docs/hints.md
  exercises/concept/calculator-conundrum/.docs/instructions.md
  exercises/concept/calculator-conundrum/.docs/introduction.md
  exercises/concept/calculator-conundrum/.meta/config.json
  exercises/concept/calculator-conundrum/.meta/design.md
  exercises/concept/calculator-conundrum/.meta/exemplar.cairo
  exercises/concept/calculator-conundrum/Scarb.toml
  exercises/concept/calculator-conundrum/src/lib.cairo
  exercises/concept/calculator-conundrum/tests/calculator_conundrum.cairo
  exercises/concept/the-farm/.docs/hints.md
  exercises/concept/the-farm/.docs/instructions.md
  exercises/concept/the-farm/.docs/introduction.md
  exercises/concept/the-farm/.meta/design.md
  exercises/concept/the-farm/.meta/exemplar.cairo
  exercises/concept/the-farm/Scarb.toml
  exercises/concept/the-farm/src/lib.cairo
  exercises/concept/the-farm/tests/the_farm.cairo
  single-sentence-per-line-rule.js
Labels: x:type/content, x:rep/large, x:module/concept-exercise, x:action/create, x:type/coding

#318 Sync docs and metadata
  exercises/practice/atbash-cipher/.docs/instructions.md
  exercises/practice/atbash-cipher/.meta/config.json
  exercises/practice/collatz-conjecture/.docs/instructions.md
  exercises/practice/collatz-conjecture/.docs/introduction.md
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/eliuds-eggs/.docs/introduction.md
  exercises/practice/knapsack/.docs/instructions.md
  exercises/practice/knapsack/.docs/introduction.md
Labels: x:rep/tiny

#321 Add Practice Exercise: `etl`
  config.json
  exercises/practice/etl/.docs/instructions.append.md
  exercises/practice/etl/.docs/instructions.md
  exercises/practice/etl/.docs/introduction.md
  exercises/practice/etl/.meta/config.json
  exercises/practice/etl/.meta/example.cairo
  exercises/practice/etl/.meta/tests.toml
  exercises/practice/etl/Scarb.toml
  exercises/practice/etl/src/lib.cairo
  exercises/practice/etl/tests/etl.cairo
Labels: x:rep/large

#324 Functions concept
  concepts/functions/.meta/config.json
  concepts/functions/about.md
  concepts/functions/introduction.md
  concepts/functions/links.json
Labels: x:module/concept, x:type/content, x:rep/large, x:action/create

#323 Write the "Printing" concept
  concepts/printing/.meta/config.json
  concepts/printing/about.md
  concepts/printing/introduction.md
  concepts/printing/links.json
  config.json
Labels: x:module/concept, x:type/content, x:rep/large, x:module/concept-exercise, x:action/create, x:type/coding

#326 Add Concept Exercise Metadata files: `the-realm-of-echoes`
  exercises/concept/the-realm-of-echoes/.docs/hints.md
  exercises/concept/the-realm-of-echoes/.docs/introduction.md
  exercises/concept/the-realm-of-echoes/.meta/config.json
  exercises/concept/the-realm-of-echoes/.meta/design.md
  exercises/concept/the-realm-of-echoes/tests/the_realm_of_echoes.cairo
Labels: x:type/content, x:rep/large, x:module/concept-exercise, x:action/create, x:type/coding

#328 implement type-conversion concept
  concepts/type-conversion/.meta/config.json
  concepts/type-conversion/about.md
  concepts/type-conversion/introduction.md
  concepts/type-conversion/links.json
Labels: x:module/concept, x:type/content, x:rep/large, x:action/create

#322 Add the `chrono-realms-chrono-chain` Exercise
  config.json
  exercises/concept/chrono-realms-chrono-chain/.docs/hints.md
  exercises/concept/chrono-realms-chrono-chain/.docs/instructions.md
  exercises/concept/chrono-realms-chrono-chain/.docs/introduction.md
  exercises/concept/chrono-realms-chrono-chain/.meta/config.json
  exercises/concept/chrono-realms-chrono-chain/.meta/design.md
  exercises/concept/chrono-realms-chrono-chain/.meta/exemplar.cairo
  exercises/concept/chrono-realms-chrono-chain/Scarb.toml
  exercises/concept/chrono-realms-chrono-chain/src/lib.cairo
  exercises/concept/chrono-realms-chrono-chain/tests/chrono_realms_chrono_chain.cairo
  exercises/concept/chrono-realms-time-tree/.docs/hints.md
  exercises/concept/chrono-realms-time-tree/.docs/instructions.md
  exercises/concept/chrono-realms-time-tree/.docs/introduction.md
  exercises/concept/chrono-realms-time-tree/.meta/design.md
  exercises/concept/chrono-realms-time-tree/.meta/exemplar.cairo
  exercises/concept/chrono-realms-time-tree/src/lib.cairo
  exercises/concept/chrono-realms-time-tree/tests/chrono_realms_time_tree.cairo
Labels: x:module/concept, x:type/content, x:rep/large, x:module/concept-exercise, x:action/create, x:type/coding

#329 implement operator overloading concept
  concepts/operator-overloading/.meta/config.json
  concepts/operator-overloading/about.md
  concepts/operator-overloading/introduction.md
  concepts/operator-overloading/links.json
Labels: x:module/concept, x:type/content, x:rep/large, x:action/create

#327 Write the "Smart Pointers" concept
  concepts/control-flow/.meta/config.json
  concepts/control-flow/links.json
  concepts/smart-pointers/.meta/config.json
  concepts/smart-pointers/about.md
  concepts/smart-pointers/introduction.md
  concepts/smart-pointers/links.json
Labels: x:module/concept, x:type/content, x:rep/large, x:action/create

#330 implement associated items concept
  concepts/associated-items/.meta/config.json
  concepts/associated-items/about.md
  concepts/associated-items/introduction.md
  concepts/associated-items/links.json
  config.json
Labels: x:module/concept, x:type/content, x:rep/large, x:action/create

#331 implement method syntax concept
  concepts/method-syntax/.meta/config.json
  concepts/method-syntax/about.md
  concepts/method-syntax/introduction.md
  concepts/method-syntax/links.json
Labels: x:module/concept, x:type/content, x:rep/large, x:action/create
